@model IEnumerable<musicby.Models.Banda>
   
@{ 
    ViewData["Title"] = "Bandas";

}

<h2>Lista de Bandas</h2>

<p>
    <a asp-action="Create" class="btn-danger">Nueva</a>

</p>

<table class="table">
   <thead>
       <tr>
           <th>
               @Html.DisplayNameFor(model => model.BandaName)
           </th>
           <th></th>

       </tr>


   </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(ModelItem => item.BandaName) </td>
                <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.BandaId">Editar</a>
                    <a asp-action="Details" class="btn btn-warning"  asp-route-id="@item.BandaId">Detalles</a>
                    <a asp-action="Delete" class="btn btn-warning" asp-route-id="@item.BandaId">Borrar</a>
                </td>

            </tr>

        }

    </tbody>


       
</table>
